:root {
  --clr-primary-200: hsl(176, 50%, 47%);
  --clr-primary-400: hsl(176, 72%, 28%);
  --clr-neutral-200: hsl(0, 0%, 48%);
  --clr-neutral-400: hsl(0, 0%, 0%);

  --ff-primary: "Commissioner";
  --fs-primary: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: hsl(0, 0%, 97%);
  font-family: var(--ff-primary), sans-serif;
  position: relative;
}

header {
  background-image: url("./images/image-hero-mobile.jpg");
  background-position: center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 35vh;
}

li {
  list-style: none;
}

section {
  display: flex;
  background: white;
  border-radius: 0.6rem;
  border: 1px solid hsl(0, 0%, 95%);
  align-items: center;
  text-align: center;
  padding: 1.9rem 1.5rem 1.3rem 1.5rem;
  margin-bottom: 1.7rem;
}

section p {
  color: var(--clr-neutral-200);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4;
}

section h2 {
  font-size: 1.35rem;
  margin-top: 1rem;
}

section > * {
  margin-bottom: 0.9em;
}

.to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  opacity: 0;
  background: var(--clr-primary-200);
  width: 50px;
  height: 50px;
  z-index: 2;
  border-radius: 50%;
  animation: opacity 0.4s linear;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.nav-bar {
  width: 90%;
  align-items: center;
  display: flex;
  margin: 2em 1.5em auto 1.5em;
  position: relative;
}

.nav-btn {
  margin-left: auto;
}

.nav-close {
  margin-left: auto;
  display: none;
}

.nav-links a {
  text-decoration: none;
  display: block;
}

.nav-link {
  padding: 1.5rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  background: white;
  color: black;
}

.nav-links {
  display: none;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 1;
  box-shadow: 0 10px 500px black;
  border-radius: 0.7rem;
  overflow: hidden;
  border: 1px solid hsl(0, 0%, 80%);
}

.nav-links a:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.container {
  width: 88%;
  margin: auto;
  position: relative;
  transform: translateY(-3rem);
}

.sec1 {
  flex-direction: column;
}

.sec1 .bookmark span {
  display: none;
}

.logo {
  position: absolute;
  top: -1.7rem;
}

.footer-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.7rem;
}

.btn {
  background: var(--clr-primary-200);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1.1em 3em;
  border-radius: 3em;
}

.sec2 {
  flex-direction: column;
  justify-content: space-between;
}

.sec2 span {
  font-weight: bold;
  color: black;
  display: block;
  font-size: 2rem;
  margin-bottom: 0.2em;
}

span.fund {
  display: inline;
}

.sec2 .vl {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  width: 60%;
  margin-top: 0.8em;
  margin-left: auto;
  margin-right: auto;
}

.sec2 .bar {
  width: 100%;
  display: flex;
}

.sec2 .disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec2 .bar,
.sec2 .bar::before {
  height: 0.75rem;
  background: hsl(0, 0%, 95%);
  border-radius: 4rem;
  position: relative;
  margin-top: 1rem;
}

.sec2 .bar::before {
  height: 0.75rem;
  width: var(--bar);
  border-radius: 4rem;
  margin-top: 0;
  content: "";
  position: absolute;
  background: hsl(176, 50%, 47%);
  left: 0;
}

.sec3 {
  flex-direction: column;
  text-align: left;
}

.sec3 p {
  line-height: 1.7;
  font-size: 0.9rem;
}

.sec3 h2 {
  margin-right: auto;
  font-size: 1.2rem;
}

.sec3 > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cards {
  margin-top: 0.8rem;
}

.card {
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 0.5rem;
  padding: 1.5em 1.3rem;
  margin-bottom: 1.7rem;
  position: relative;
}

.card-head {
  display: flex;
  flex-direction: column;
}

.card > *:not(:last-child) {
  margin-bottom: 1.4rem;
}

.card span {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.card p {
  font-weight: 500;
}

.card-head p {
  color: var(--clr-primary-200);
}

.card .left {
  display: flex;
  align-items: center;
}

.btn-card {
  width: 65%;
  color: hsl(0, 0%, 90%);
  font-size: 0.9em;
  padding: 1em 0;
}

.disabled .btn {
  background: var(--clr-neutral-200);
}

.disabled::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.6);
  z-index: 100;
}

.con-modal .modal-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.5em;
  align-items: center;
}

.con-modal p {
  text-align: left;
}

.con-modal,
.con-success {
  position: absolute;
  z-index: 100;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.con-success {
  position: fixed;
}

.con-modal .container,
.con-success .container {
  margin-top: 10rem;
}

.con-modal input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.radios {
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 85%);
  position: relative;
  margin-right: 1rem;
}

.radios:after {
  content: "";
  width: 10px;
  height: 10px;
  background: hsl(176, 50%, 47%);
  z-index: 100;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  display: none;
}

.con-modal input:checked ~ .radios:after {
  display: block;
}

.sec4 {
  flex-direction: column;
}

.sec4 .card {
  text-align: left;
}

.sec4 .card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sec4 .card-title {
  display: flex;
  flex-direction: column;
}

.card-title h4 {
  margin-bottom: 0.4em;
}

.card-title p {
  font-weight: 600;
}

.sec4 span {
  font-size: 1.1rem;
}

.sec4 .card-left {
  display: flex;
  align-items: center;
}

.sec4 .hl {
  border-top: 2px solid hsl(0, 0%, 90%);
  width: 110%;
  transform: translateX(-20px);
  display: none;
}

.sec4 .card-footers {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
}

.card .btn {
  padding: 0.9em 1em;
}

.btn-price {
  background: white;
  border: 1px solid hsl(0, 0%, 80%);
  color: hsl(0, 0%, 80%);
}

.btn-price span {
  margin-left: 0.6em;
  font-size: 0.9rem;
}

.sec4 .card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.sec4 .card-footers p {
  text-align: center;
  margin-bottom: 1.3rem;
}

.card-active {
  border: 2px solid hsl(176, 50%, 47%);
}

.card-left.desk {
  display: none;
}

.mobile {
  display: block;
}

.sec5 {
  flex-direction: column;
}

@media only screen and (min-width: 640px) {
  body {
  }

  header {
    background-image: url("./images/image-hero-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .nav-bar {
    width: 80%;
    max-width: 65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    background: transparent;
    border: 0;
    width: auto;
    justify-content: space-between;
    box-shadow: 0;
  }

  .nav-link {
    background: transparent;
    color: white;
    padding: 0;
    overflow: visible;
    font-size: 0.9rem;
  }

  .nav-links a {
    margin-left: 1rem;
    font-weight: 500;
  }

  .nav-links a:not(:last-child) {
    border: none;
  }

  section {
    padding: 1.9rem 3rem;
  }
  section h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  section p {
    color: var(--clr-neutral-200);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
  }

  .container {
    width: 90%;
    max-width: 45rem;
    margin: auto;
    position: relative;
    transform: translateY(-5rem);
  }

  .sec1 .bookmark {
    background: hsl(0, 0%, 93%);
    color: hsl(0, 0%, 60%);
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
  }

  .sec1 .bookmark span {
    display: inline;
    margin-left: 1rem;
  }

  .sec2 .disc {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 6rem;
  }

  .sec2 p {
    text-align: left;
  }

  .sec2 .vl {
    border-top: none;
    border-right: 1px solid hsl(0, 0%, 80%);
    width: 0;
  }

  .btn:hover {
    background: hsl(176, 72%, 28%);
    cursor: pointer;
  }

  .sec3 p {
    font-size: 1rem;
  }

  .cards {
    margin-top: 0.9rem;
  }

  .card {
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 0.5rem;
    padding: 2em 1.8rem;
    margin-bottom: 1.7rem;
    position: relative;
  }

  .card-head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card > *:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card .btn {
    padding: 1.6em 2em;
    align-items: center;
    height: 0;
    font-size: 0.9em;
    justify-content: center;
    display: flex;
    color: hsl(0, 0%, 90%);
  }

  .card-active {
    border: 2px solid hsl(176, 50%, 47%);
  }

  .con-modal {
    display: none;
    width: 100%;
  }

  .con-modal .card:not(.disabled):hover {
    cursor: pointer;
  }

  .btn-card {
    width: auto;
    color: hsl(0, 0%, 90%);
    font-size: 0.9em;
    padding: 1em 1.2em;
  }

  .card-left.mobile {
    display: none;
  }

  .card-left.desk {
    display: block;
  }

  .sec4 .card-head {
    justify-content: initial;
  }

  .con-modal .card > p {
    margin-left: 2.5rem;
    font-size: 0.95rem;
  }

  .card-head .card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .card-head .card-left {
    display: flex;
    margin-left: auto;
  }

  .card-head .card-left p {
    color: hsl(0, 0%, 60%);
    margin-left: 0;
  }

  .card-title > p {
    margin-left: 1rem;
  }

  .card .hl {
    width: 110%;
    transform: translateX(-28px);
  }

  .card .card-footers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sec4 .card-footers p {
    margin-bottom: 0;
  }

  .sec4 .card-footer .btn {
    padding: 2em 2em;
    margin-left: 1rem;
  }

  .modal-active {
    border: 1px solid var(--clr-primary-200);
  }

  .sec4 .btn-price:hover {
    background: white;
    color: hsl(0, 0%, 80%);
    border: 1px solid var(--clr-primary-200);
  }

  .con-success {
    display: none;
    width: 100%;
  }

  .con-success .container {
    width: 33rem;
  }

  .con-success .container * {
    margin-top: 1.2rem;
  }

  .con-success .container img {
    width: 85px;
    height: 85px;
  }

  .con-success .container h3 {
    font-size: 1.5rem;
  }

  .con-success .container p {
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 2;
    margin-top: 0.1rem;
  }

  /*
  .card span {
    font-weight: bold;
    color: black;
    font-size: 2rem;
    padding-right: 0.7rem;
  }
  
  .card p {
    font-weight: 500;
  }
  
  .card-head p {
    color: var(--clr-primary-200);
  }
  
  .card .left {
    display: flex;
    align-items: center;
  }
  */
}
